.cell {
  // width: 30px;
  // height: 30px;
  border-right: 2px var(--surface-400) solid;
  display: inline-block;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
}

.row {
  border: 2px var(--surface-400) solid;
  border-right: 0;
  border-bottom: 0;
  display: flex;
  width: fit-content;
}

.row:last-child {
  border-bottom: 2px var(--surface-400) solid;
}

