<div class="flex">
  <div class="w-3 justify-content-center flex">
    <div class="w-10">
      <app-box-info [playerNo]="1" [playerId]="1"></app-box-info>
    </div>
  </div>
  <div class="w-6 flex flex-column align-items-center">
    <div class="w-full flex justify-content-around">
      <app-countdown-timer></app-countdown-timer>
      <app-countdown-timer></app-countdown-timer>
    </div>
    <div class="w-10">
      <app-board-game [levelGame]="2"></app-board-game>
    </div>
  </div>
  <div class="w-3 justify-content-center flex">
    <div class="w-10">
      <app-box-info [playerNo]="2" [playerId]="2"></app-box-info>
    </div>
  </div>
</div>