<div class="card h-18rem surface-ground">
  <div class="flex flex-column align-items-center">
    <div>
      <img
      src="{{playerInfo.avatar}}"
      alt="Person" class="card__image h-5rem w-5rem">
    </div>
    <div class="flex">
      <div class="w-4">
        Win {{playerInfo.winRate}} %
      </div>
      <div class="w-4">
        Rank {{playerInfo.rank}}
      </div>
      <div class="w-4">
        Battles {{playerInfo.battleNumber}}
      </div>
    </div>
    <ul class="social-icons">
      <li><a href="#"><i class="pi pi-facebook bg-cyan-600" style="font-size: 2rem"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-codepen"></i></a></li>
    </ul>
    <button class="btn draw-border p-2">Follow</button>
  </div>
</div>
